@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-ubuntu font-light;
    }
    /* h1, h2, h3, h4, h5, h6 {
        @apply font-lora
    } */
    h1 {
        @apply text-8 font-bold md:text-5xl;
    }
    h2 {
        @apply inline-block text-2xl font-bold md:text-3xl md:text-10;
    }
    h2 > a {
        @apply flex items-center;
    }
    h2 > a::after {
        font-family: "Material Symbols Outlined";
        content: "anchor";
        font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 12;
        @apply text-[30px] opacity-0 transition-opacity;
    }
    h2:hover > a:after {
        @apply opacity-30;
    }
    h3 {
        @apply text-xl font-medium md:text-2xl;
    }
    h4 {
        @apply text-lg font-medium;
    }
}

@layer components {
    .gp-global_width {
        @apply mx-auto max-w-7xl px-4 sm:px-6 md:px-8;
    }
    .underlineAnim {
        @apply relative no-underline 
            after:absolute 
            after:left-0 
            after:bottom-0 
            after:h-px 
            after:w-full 
            after:origin-right 
            after:scale-x-0 
            after:bg-current 
            after:transition-transform
            after:duration-500 
            after:content-[""] 
            hover:after:origin-left 
            hover:after:scale-x-100 
            hover:after:duration-300 
            group-hover:after:origin-left
            group-hover:after:scale-x-100 
            group-hover:after:duration-300 
            after:dark:bg-current;
    }
    .material-symbols-outlined {
        font-variation-settings: "FILL" 1, "wght" 300, "GRAD" 0, "opsz" 12;
    }
}
